[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "thresholding"]
	path = thresholding
	url = https://github.com/carissableker/thresholding.git
